@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<TaskModel>
<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home Page</title>
</head>
<body>
<div class="text-center">
    <h1 class="display-4">Todo List</h1>
    @*initial commit*@
</div>
<div>
    <table class="table table-bordered">  
    <tr>  
        <th>Title </th>  
        <th>Description </th>  
        <th>Date/Time</th>   
    </tr>  
    @*@foreach (var d in Model)  
    {  
        <tr>  
            <td>@d.Title</td>  
            <td>@d.Description</td>  
            <td>@d.TaskDateTime</td>  
        </tr>  
    }*@
    @*swap to something like this for real data ^*@
    <tr>  
            <td>this isn't real data</td>  
            <td>test Description</td>  
            <td>test TaskDateTime</td>  
        </tr> 
</table>
</div>
</body>