@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home Page</title>
</head>
<body>
<div class="text-center">
    <h1 class="display-4">Todo List</h1>
</div>
</body>