@{
    ViewData["Title"] = "Raj Sekhon";
}
@model IEnumerable<TaskModel>
<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About Me</title>
</head>
<body>
<div class="text-center">
    <h1 class="display-4">About Raj</h1>
    @*initial commit*@
</div>
<div>
   
</div>
</body>