@{
    ViewData["Title"] = "Raj Sekhon";
}
@model IEnumerable<TaskModel>
<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About Me</title>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">About Raj</h1>
        <img class"resize" src="~/lib/Images/Raj.JPG" width="350" height="467" style="filter: drop-shadow(5px 5px 5px #666666);"/>
    </div>
<div>
</div>
    <h2>About Me</h2>
    <p>
        Hello! My name is Sukhraj Sekhon and I go by Raj. I am currently a third-year UC student with a major of Information Technology
        specializing in Software Application. I have done three Co-op semesters so far and will be joining U.S. Bank next semester. I 
        like to code and create applications in languages such as Java, Javascrpt, C#, Asp.Net, Node.js, etc. I love to hangout with my
        friends over the weekend, play cricket, sing, and go to new places. Additionally, I live in West Chester, OH with my parents who
        are very caring.
    </p>
    <h2>My Background</h2>
    <p>
        I am originally from Delhi, India. I moved to US with my family about six years ago and I love America so far. US has taught me a
        lot of different skills that are necessary to be successful and happy in life. It has made me responsible for my own decisions while 
        also putting a lot of good stress on my back.
    </p>
</body>