@{
    ViewData["Title"] = "Ruairi Blake";
}
@model IEnumerable<TaskModel>
<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About Me</title>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">About Ruairi</h1>
       
        <img class"resize" src="~/lib/Images/ruairib.jpg" width="400" height="400" />


    </div>
<div>
</div>
    <h2>About Me</h2>
    <p>I'm Ruairi Blake, a senior here at UC. I've spent my education focusing on software design and development. In my profesional life, I work as a React developer, and have contributed to many large projects along the way. In my personal life, I spend a lot of time outdoors kyaking, camping and climbing.</p>
    <h2>What I've learned</h2>
    <p>This class was my first exposure to ASP.net. I learned a lot about using C# in general, as well as package management and using SQL with C#</p>
    <h2>What's Next</h2>
    <p>This is my last assignment of College. So "What's next" is kind of a big question for me. I have interviews lined up with a few companies, and one of them is actually using ASP.net, so I'll be able to apply my knowledge from this class.</p>
</body>