@{
    ViewData["Title"] = "Tahj Marshall";
}
@model IEnumerable<TaskModel>
<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tahj Marshall</title>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">About Tahj</h1>
       
        <img class"resize" src="~/lib/Images/A06D4D06-1391-4922-9DDF-7241C896739C.JPG" width="400" height="500" />


    </div>
<div>
</div>
    <h2>About Me</h2>
    <p>Hi, my Name is Tahj Marshall. I'm going into me 4th year at the University of Cincinnati. I guess I can be described as your typical IT guy, who loves to play games, upgrade and build PCs and just finding a enjoyment 
    with anything to do with computers. This Summer I acquierd my first Coop at Siemens as Web Developer. The experience has been very informative from switching to a school scenerio and applying to real world.</p>
    <h2>What I've learned</h2>
    <p>Taking Web Server Application this summer, I have learned a lot. I had previously never worked that much with ASP.net and by taking this course I have learned how to do things from implementing data binding, login 
    controls and working with back end and server-side frameworks.</p>
    <h2>What's Next</h2>
    <p>Web Server Application has taught me a lot. What's next for me is to take what I learned and to implement this into future projects I will be working. I have gained the confidence to go on build a web application that I can
    be proud of.</p>
</body>